@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@theme {
  --font-volkhov: "Volkhov", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-montaga: "Montaga", serif;
  --font-jost: "Jost", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --color-darky: #212a2f;
  --color-darkyLight: #212a2f12;
  --color-lightGray: #eeeff0;
}
body {
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.price-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #cfcfcf;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  z-index: 2;
  transition: background 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
}
.price-slider::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: -9px;
  width: 6px;
  height: 20px;
  background-color: #000;
}

.price-slider::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 0;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 20px;
  background: #000;
  cursor: pointer;
  margin-top: -9px;
  border-radius: 0;
  transition:
    transform 0.25s cubic-bezier(0.25, 0.1, 0.25, 1),
    background-color 0.3s ease;
}

.price-slider::-moz-range-track {
  height: 2px;
  background: transparent;
}

.price-slider::-moz-range-thumb {
  width: 6px;
  height: 20px;
  background: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;

  transition: background-color 0.3s ease;
}
